body{
    font-family: Montserrat,serif;
}

#title{
    padding: 3% 10%;
    background-color: #ff4c68;
    color: white;
}

.container-fluid{

}
.nav-logo{
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 40px;
}

.navbar-brand{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}
.navbar{
    padding-bottom: 1.5rem;
}
.nav-item{
    padding: 0.2rem 1rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat Light";
}

.btn-download{
    margin-top: 2rem;
    margin-inline-end: 1rem;
}

h1{
    margin-top: 1.5rem;
    font-family: "Montserrat Black", serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.transform{
    transform:rotate(5deg);
    width: 75%;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: -6rem;
}


/*Feature Section*/
#features{
    position: relative;
    background-color: white;
    padding: 10% 10% 5%;
}

.feature-box{
    text-align: center;
    padding-inline: 5%;
}
h3{
    font-family: "Montserrat Bold";
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    font-weight: bold;
    color: gray;
}

.fa-custom-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-custom-icon:hover{
    color: #ff4c68;
}

/*Testimonial Section*/
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
h2{
    font-family: "Montserrat Bold";
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.img-testimonial{
    width: 12rem;
    height: 12rem;
    object-fit:cover;
    border-radius: 100%;
    margin: 10px;
}
.carousel-item{
    padding: 5% 10%;
}
#press{
    padding: 3% 10%;
    text-align: center;
    background-color: #ef8172;
}
.press-logo{
    margin: 0 20px 50px;
    width: 130px;
}

/*Pricing*/
#pricing{
    padding: 3% 10%;
    text-align: center;
}

.btn-pricing{
    padding: 3% 2%;
}
.strikethrough{
    text-decoration: line-through;
}




/*section ......*/

#cta{
    padding: 3% 10%;
    text-align: center;
    background-color: teal;
}
#footer{
    text-align: center;
    background-color: teal;
    padding-bottom: 1%;
    color: #d5dee2;
}

#columns{
    padding: 1% 2%;
    background-color: #9078e1;
}
